<div data-role="dialog" data-url="" data-external-page="true" tabindex="0">

    <div data-role="header" role="banner">
      	<h1 class="ui-title" role="heading">Dialog</h1>
    </div>

    <div data-role="content" data-theme="c" class="ui-content ui-body-c" role="main">
      <h1>Dialogue</h1>
      <p>This is a regular page, styled as a dialog. To create a dialog, just link to a normal page and include a transition and <code>data-rel="dialog"</code> attribute.</p>
      <a href="example1.html" data-role="button" data-rel="back" data-theme="c" >Cancel</a>    
    </div>

</div>